:root {
  --dark-bg: #000;
  --dark-shade-1: #1c1c1e;
  --dark-shade-2: #323235;
  --red: #eb4e3d;
  --blue: #7fd0fa;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  user-select: none;
}
.stocks-app {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark-bg);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 20px;
    button {
      border: none;
      background: transparent;
      color: var(--blue);
      font-size: 1rem;
      margin: 0px;
      margin-left: auto;
      padding: 0px;
    }
  }
  &__content,
  &__draggable-content {
    padding: 0px 20px;
    overflow-y: auto;
    will-change: transform;
  }
  &__content {
    height: calc(100vh - 64px);
    margin-bottom: calc(20vh + 20px);
    overflow-y: auto;
  }
  &__draggable-content {
    background-color: var(--dark-shade-1);
    min-height: 20vh;
    border-radius: 18px;
    box-shadow: 0px 0px 5px 1px rgba(black, 0.1);
    position: fixed;
    z-index: 1;
    top: 70%;
    left: 0px;
    width: 100%;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    transition: transform 0.2s ease-out;
    will-change: transform;
  }
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  li {
    padding: 10px 0px;
    border-top: solid 1px var(--dark-shade-2);
    display: flex;
    align-items: center;
    &:first-child {
      border-top-color: transparent;
    }
    div:last-child {
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
  }
}

.stock {
  &__name {
    font-size: 1.2rem;
    font-weight: 900;
  }
  &__description {
    font-size: 1rem;
    opacity: 0.75;
  }
  &__value {
    padding: 2px;
    border-radius: 4px;
    text-align: right;
    &.danger {
      background-color: var(--red);
    }
  }
}

.draggable-area {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  cursor: pointer;
  &__thumb {
    margin: auto;
    border-radius: 50px;
    width: 35px;
    height: 4px;
    overflow: hidden;
    background-color: #dbdbdb;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  line-height: 1;
}

h1 {
  font-weight: 900;
  font-size: 1.8rem;
}
